* {
  background-color: rgb(75, 167, 75);
}

.heading {
  padding: 18px;
  border: 2px solid white;
  margin: 50px;
  align-items: start;
  text-align: start;
  display: flex;
  justify-content: left;
  align-items: center;
}
.container-1 .heading .box1 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 25px;
  border: 5px solid white;
  background-color: white;
}
.container-1 .heading .box2 {
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 25px;
  border: 5px solid white;
  background-color: white;
}
